<h2>Pagamento</h2>

<div id="payment-form">
  <%= csrf_meta_tags %>

  <!-- Método de pagamento -->
  <label>
    <input type="radio" name="payment_method" value="card" checked>
    Cartão de Crédito
  </label>

  <label>
    <input type="radio" name="payment_method" value="pix">
    Pix
    <div id="pix-area" style="display: none;">
      <img id="pix-qrcode-img" style="width: 300px";/>
      <pre id="pix-qrcode-text"></pre>
    </div>
    </div>
  </label>

  <!-- ===== CARTÃO ===== -->
  <div id="card-form">
    <div>
      <label>Número do cartão</label>
      <input type="text" id="cardNumber" data-checkout="cardNumber">
    </div>

    <div>
      <label>Nome no cartão</label>
      <input type="text" id="cardholderName" data-checkout="cardholderName">
    </div>

    <div>
      <label>Validade (MM/AA)</label>
      <input type="text" id="cardExpirationMonth" size="2" data-checkout="cardExpirationMonth">
      /
      <input type="text" id="cardExpirationYear" size="4" data-checkout="cardExpirationYear">
    </div>

    <div>
      <label>CVV</label>
      <input type="text" id="securityCode" data-checkout="securityCode">
    </div>

    <div>
      <label>Documento</label>
      <input type="text" id="docNumber">
    </div>
  </div>

  <input type="hidden" name="token" id="token">
  <input type="hidden" name="transaction_amount" id="transaction_amount" value="<%= @order.total %>">
  <input type="hidden" name="description" value="Pedido #<%= @order.id %>">

  <button id="pagar">Pagar</button>
</div>

<script src="https://sdk.mercadopago.com/js/v2"></script>

<script src="https://sdk.mercadopago.com/js/v2"></script>

<script>
  const mp = new MercadoPago("<%= @public_key %>", {
    locale: 'pt-BR'
  });

  const cardForm = document.getElementById('card-form');
  const csrfToken = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute('content');

  document.querySelectorAll('input[name="payment_method"]').forEach((radio) => {
    radio.addEventListener('change', () => {
      cardForm.style.display =
        radio.value === 'card' && radio.checked ? 'block' : 'none';
    });
  });

  document.getElementById('pagar').addEventListener('click', function (e) {
    e.preventDefault();

    const selected = document.querySelector(
      'input[name="payment_method"]:checked'
    ).value;

    if (selected !== 'card') {
      fetch('/checkout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': csrfToken
        },
        body: JSON.stringify({
          payment_method: 'pix',
          token: result.id,
          transaction_amount: document.getElementById('transaction_amount').value,
          installments: 1
        })
      }).then(response => response.json())
        .then(data => {
          console.log(data)

          document.getElementById('pix-area').style.display = 'block';

          // Imagem do QR Code
          document.getElementById('pix-qrcode-img').src = `data:image/png;base64,${data.qr_code_base64}`;

          // Texto copia e cola
          document.getElementById('pix-qrcode-text').innerText = data.qr_code;
        });
      
      return
    }

    mp.createCardToken({
      cardNumber: document.getElementById('cardNumber').value.replace(/\D/g, ''),
      cardholderName: document.getElementById('cardholderName').value,
      cardExpirationMonth: document.getElementById('cardExpirationMonth').value,
      cardExpirationYear: document.getElementById('cardExpirationYear').value,
      securityCode: document.getElementById('securityCode').value,
      identificationType: 'CPF',
      identificationNumber: document.getElementById('docNumber').value
    }).then((result) => {
      if (result.error) {
        alert(result.error.message);
        console.error(result);
        return;
      }

      document.getElementById('token').value = result.id;

      

      fetch('/checkout', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': csrfToken
        },
        body: JSON.stringify({
          payment_method: 'card',
          token: result.id,
          transaction_amount: document.getElementById('transaction_amount').value,
          installments: 1
        })
      }).then(response => response.json())
        .then(data => console.log(data));
    });
  });
</script>
