<div class="products-container">
  <% @products.each do |product| %>
    <%= link_to product_path(product), class: "product-card" do %>
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>

      <%= image_tag product.image if product.image.attached? %>
    <% end %>
  <% end %>
</div>